@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

a{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-decoration: none;
    font-family: "Butcherman", system-ui;
    transition: 666ms;
    font-style: normal;
}

a:hover {
    transition: 666ms;
    color: rgb(90, 0, 0);
    font-size: 50px;
}

h1{
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 40px;
    font-family: "Butcherman", system-ui;
    font-style: normal;
}

h1:hover {
    transition: 666ms;
    color: rgb(90, 0, 0);
    font-size: 50px;
}

p{
    color: #ba5942;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background-color: rgb(0, 0, 0, 0.1);
    word-spacing: 350px;
    margin-bottom: 60px;
}

    header div {
        text-align: center;
    }

img{
    width: 20%;
    border-radius: 50%;
    margin-bottom: 40px;
    size: 50px;
}
